<!DOCTYPE html>
<html>
  <head>
    <title>Survival Prediction</title>
  </head>
  <body>
    <h1>Survival Prediction</h1>
    <form method="POST" action="/">
      <label for="pclass">Pclass:</label>
      <input type="number" id="pclass" name="pclass" required /><br /><br />

      <label for="age">Age:</label>
      <input type="number" id="age" name="age" required /><br /><br />

      <label for="sibsp">SibSp:</label>
      <input type="number" id="sibsp" name="sibsp" required /><br /><br />

      <label for="parch">Parch:</label>
      <input type="number" id="parch" name="parch" required /><br /><br />

      <label for="male">Sex (0 for Female, 1 for Male):</label>
      <input type="number" id="male" name="male" required /><br /><br />

      <label for="q">Embarked Q (0 for No, 1 for Yes):</label>
      <input type="number" id="q" name="q" required /><br /><br />

      <label for="s">Embarked S (0 for No, 1 for Yes):</label>
      <input type="number" id="s" name="s" required /><br /><br />

      <input type="submit" value="Predict" />
    </form>

    {% if prediction_result %}
    <h2>Prediction Result: {{ prediction_result }}</h2>
    {% endif %}
  </body>
</html>
